{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-8 offset-lg-2">
        <!-- START card -->
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    <h5>Dashboard</h5>
                </div>
            </div>
            <div class="card-body">
                <!-- <h5>Search:</h5> -->
                
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){

        })
    </script>
{% endblock %}